<h3>Restaurants</h3>
<table class="my_table">
    <tr>
        <th>Nom</th>
        <th>Localisation</th>
        <th></th>
        <th></th>
    </tr>    
    <tr *ngFor = "let joueur of joueurs">
        <a [routerLink] = "['voir-menu']" [queryParams] = '{idResto : joueur._id}'>
            {{ joueur.nom}}
        </a>
        <td class="left">{{ joueur.localisation}}</td>
        <td class="left">
            <button (click) = "removeById(joueur.idjoueur)">Remove</button>
        </td>
        <td class="left">
            <!--a [routerLink] = "['modifier']" [queryParams] = '{idjoueur : joueur.idjoueur, pseudo : joueur.pseudo}'>
                <button>Update</button>
            </a-->
        </td>
    </tr>
</table>